<div id="<%= dom_id invoice_item %>">
  <div>
    <strong>Purchase invoice:</strong>
    <%= invoice_item.purchase_invoice_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= invoice_item.product_id %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= invoice_item.quantity %>
  </div>

  <div>
    <strong>Unit price:</strong>
    <%= invoice_item.unit_price %>
  </div>

  <div>
    <strong>Tax percentage:</strong>
    <%= invoice_item.tax_percentage %>
  </div>

</div>
