<%= form_with(model: purchase_invoice) do |form| %>
  <% if purchase_invoice.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(purchase_invoice.errors.count, "error") %> prohibited this purchase_invoice from being saved:</h2>

      <ul>
        <% purchase_invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.text_field :customer_id %>
  </div>

  <div>
    <%= form.label :invoice_number, style: "display: block" %>
    <%= form.text_field :invoice_number %>
  </div>

  <div>
    <%= form.label :subtotal_amount, style: "display: block" %>
    <%= form.text_field :subtotal_amount %>
  </div>

  <div>
    <%= form.label :total_amount, style: "display: block" %>
    <%= form.text_field :total_amount %>
  </div>

  <div>
    <%= form.label :paid_amount, style: "display: block" %>
    <%= form.text_field :paid_amount %>
  </div>

  <div>
    <%= form.label :balance_amount, style: "display: block" %>
    <%= form.text_field :balance_amount %>
  </div>

  <div>
    <%= form.label :change_denominations, style: "display: block" %>
    <%= form.text_field :change_denominations %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
