<div id="<%= dom_id purchase_invoice %>">
  <div>
    <strong>Customer:</strong>
    <%= purchase_invoice.customer_id %>
  </div>

  <div>
    <strong>Invoice number:</strong>
    <%= purchase_invoice.invoice_number %>
  </div>

  <div>
    <strong>Subtotal amount:</strong>
    <%= purchase_invoice.subtotal_amount %>
  </div>

  <div>
    <strong>Total amount:</strong>
    <%= purchase_invoice.total_amount %>
  </div>

  <div>
    <strong>Paid amount:</strong>
    <%= purchase_invoice.paid_amount %>
  </div>

  <div>
    <strong>Balance amount:</strong>
    <%= purchase_invoice.balance_amount %>
  </div>

  <div>
    <strong>Change denominations:</strong>
    <%= purchase_invoice.change_denominations %>
  </div>

</div>
